<!DOCTYPE html>
<html>
  <head>
    <title>Example :: SASS Spell :: Warlock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Droid+Sans' />
    <% webappStyles.forEach( function ( style ) {%>
    <link rel="stylesheet" href="<%= warlock.file.relativePath( warlock.file.dirname(filepath), style ) %>"><%});%>
  </head>
  <body>
    <!-- Header and Nav -->
    <div class="row">
      <div class="large-3 columns">
        <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
      </div>
      <div class="large-9 columns">
        <ul class="button-group right">
          <li><a href="#" class="button">Link 1</a></li>
          <li><a href="#" class="button">Link 2</a></li>
          <li><a href="#" class="button">Link 3</a></li>
          <li><a href="#" class="button">Link 4</a></li>
        </ul>
      </div>
    </div>
    <!-- End Header and Nav -->

    <!-- First Band (Image) -->
    <div class="row">
      <div class="large-12 columns">
        <ul class="example-orbit" data-orbit>
          <li>
            <img src="assets/satelite-orbit.jpg" alt="slide 1" />
            <div class="orbit-caption">
              Caption One.
            </div>
          </li>
          <li class="active">
            <img src="assets/andromeda-orbit.jpg" alt="slide 2" />
            <div class="orbit-caption">
              Caption Two.
            </div>
          </li>
          <li>
            <img src="assets/launch-orbit.jpg" alt="slide 3" />
            <div class="orbit-caption">
              Caption Three.
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Second Band (Image Left with Text) -->
    <div class="row">
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]">
      </div>
      <div class="large-8 columns">
        <h4>This is a content section.</h4>
        <div class="row">
          <div class="large-6 columns">
            <p>
              Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis
              velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
              Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned
              beef.
            </p>
          </div>
          <div class="large-6 columns">
            <p>
              Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs
              meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt
              ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud
              pastrami.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Band (Image Right with Text) -->
    <div class="row">
      <div class="large-8 columns">
        <h4>This is a content section.</h4>

        <p>
          Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis
          velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
          Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned
          beef.
        </p>

        <p>
          Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs
          meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball
          tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
        </p>

      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]">
      </div>
    </div>

    <!-- Call to Action Panel -->
    <div class="row">
      <div class="large-12 columns">

        <div class="panel">
          <h4>Get in touch!</h4>

          <div class="row">
            <div class="large-9 columns">
              <p>We'd love to hear from you, you attractive person you.</p>
            </div>
            <div class="large-3 columns">
              <a href="#" class="radius button right">Contact Us</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- scripts -->
    <% webappScripts.forEach( function ( script ) {%>
    <script type="text/javascript" src="<%= warlock.file.relativePath( warlock.file.dirname(filepath), script ) %>">
    </script><%});%>
  </body>
</html> 
